<%= simple_form_for @todo do |f| %>
  <%= f.input :name, input_html: {class: "form-inline role='form"}%>
  <br>  
  <h3>Tasks</h3>
  <div id='tasks'>
    <%= f.simple_fields_for :tasks do |task| %>
      <%= render 'task_fields', :f => task %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Task', f, :tasks, class: 'btn btn-success' %>
    </div>
    <br>
  </div>
      <%= f.submit 'Create Todo' %> 
<% end %>





