<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Category:</strong>
    <ol>
  <% for category in @todo.categories %>
  	<li><%= category.name %></li>
  	<% end %>
  </ol>
</p>

<p>
  <strong>Task:</strong>
    <ol>
  <% for task in @todo.tasks %>
  	<li><%=h task.name %></li>
  	<% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
