<!DOCTYPE html>
<html>
  <head>
    <title>List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>	
	<%= render partial: "shared/navbar" %> <!-- This navbar will come up always as it was placed on this folder -->
  	<div class="container"> <!-- This will put everything within a container -->
     	 <%= yield %>
    </div>
  </body>
</html>
